<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neurothon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main class="Workspace">
        <section class="Heading">
            <h1>Disease Predictor</h1>
        </section>
        <section class="Predictions">
            <div class="initial-content">
                <div class="gif-container">
                    <img src="{{ url_for('static', filename='images/doctor3.gif') }}" alt="Doctor Animation" class="doctor-gif">
                </div>
                <p class="instruction-text">
                    Tell me about your Symptoms in the textbox below.<br>For e.g - "I have body pain and Headache..."
                </p>
            </div>
            <div class="prediction-heading">
                <h2>Top Predictions</h2>
            </div>
            <div class="top-predictions">
                <div class="disease">
                    <h3 class="name">Hypertension</h3>
                    <h3 class="probhability">0.5</h3>
                </div>
                <div class="disease">
                    <h3 class="name">headache</h3>
                    <h3 class="probhability">0.5</h3>
                </div>
                <div class="disease">
                    <h3 class="name">headache</h3>
                    <h3 class="probhability">0.5</h3>
                </div>
                <div class="disease">
                    <h3 class="name">headache</h3>
                    <h3 class="probhability">0.5</h3>
                </div>
                <div class="disease">
                    <h3 class="name">headache</h3>
                    <h3 class="probhability">0.5</h3>
                </div>
            </div>
            <div class="akinator-info">
                If you want to know what exactly what your disease is then Click on "Access Akinator"
            </div>
            <button class="access-akinator-btn">Access Akinator</button>
            <div class="Input">
                <textarea name="userprompt" class = "userprompt" id="userprompt" rows="5" cols="40" placeholder="Enter User Input"></textarea>
                <button class="submit-btn">Submit</button>
            </div>
            <div class="question-setup">
                <div class="question-heading">Question</div>
                <div class="question"></div>
                <div class="answer-button">
                    <button class = "yes">YES</button>
                    <button class = "no">NO</button>
                </div>
            </div>
            <div class="final-answer-section">
                <h2 class="final-answer-heading">The Final Predicted Disease is :</h2>
                <h2 class="final-answer"></h2>
                <div class="disclaimer">
                    <h2 class = "disclaimer-heading">Disclaimer</h2>
                    <p class="disclaimer-text">"This prediction is based on machine learning models and is not a substitute for professional medical advice. The results may not be 100% accurate. For a precise diagnosis, please consult a qualified healthcare professional or verify the information from trusted medical sources."</p>
                </div>
            </div>
        </section>
    </main>
    <div class="loader" id="loader"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>